* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caixa-vieo {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.caixa-vieo video {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    
}